body {

    display: block;
    margin: 0 auto;
    text-align: center;
}
.container {
    color: #f2f4fb;
    font-family: monospace;
    border-radius: 15px;
    background-color: #5e227f;
    margin: 100px;
    padding-bottom: 20px;
}