body {

    display: block;
    margin: 0 auto;
    text-align: center;
}
.container {
    color: #f2f4fb;
    font-family: monospace;
    border-radius: 15px;
    background-color: #5e227f;
    margin: 100px;
    padding-bottom: 10px;
}
h1 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}
footer {
    text-align: center;
}

.static-cities {
    column-count: 2;
}